:host {
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
	width: 200px;
	z-index: 2;
}

#float {
	border: 1px solid grey;
	border-radius: 14px;
	height: 410px;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

#header {
	background-color: #ffffff;
	border: 1px solid grey;
	border-radius: 12px;
	left: 50%;
	margin-top: 8px;
	padding: 4px 8px;
	position: absolute;
	transform: translate(-50%, 0);
	white-space: nowrap;
	width: fit-content;
}

button {
	background-color: #ffffff;
	border: 1px solid grey;
	border-radius: 6px;
	font: monospace;
	font-size: 0.6rem;
	margin: 0;
	padding: 2px 4px;
}

button:hover {
	background-color: #dfefdf;
}

#drag-and-drop {
	cursor: move;
}

#move-to-top, #close, #minimize {
	cursor: pointer;
}

#minimize {
	padding-top: 4px;
}
