:host {
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
	width: 200px;
	z-index: 2;
}

#minimized-text {
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	overflow: hidden;
	padding: 4px 8px;
	text-overflow: ellipsis;
	width: calc(100% - 16px);
	white-space: nowrap;
}

#float {
	border: 1px solid grey;
	border-radius: 14px;
	height: 410px;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#float.modifying {
	border: 1px dotted grey;
	opacity: 50%;
}

.hidden {
	display: none;
}

#header {
	background-color: #ffffff;
	border: 1px solid grey;
	border-radius: 12px;
	left: 50%;
	margin-top: 8px;
	padding: 4px 8px;
	position: absolute;
	transform: translate(-50%, 0);
	white-space: nowrap;
	width: fit-content;
}

button {
	background-color: #ffffff;
	border: 1px solid grey;
	border-radius: 6px;
	font: monospace;
	font-size: 0.6rem;
	margin: 0;
	padding: 2px 4px;
}

button:hover {
	background-color: #dfefdf;
}

#drag-and-drop {
	cursor: move;
}

#move-to-top, #close, #minimize {
	cursor: pointer;
}

#minimize {
	padding-top: 4px;
}

#resize-right {
	cursor: e-resize;
	height: 100%;
	position: absolute;
	right: 0;
	width: 4px;
}

#resize-bottom {
	bottom: 0;
	cursor: s-resize;
	height: 4px;
	position: absolute;
	width: 100%;
}

