<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Float Demo</title>
		<script type="module" src="./float.js"></script>
	</head>

	<body>
		<h1>Float Demo</h1>
		<p>Demo of the floating container called float.</p>
		<float-y minimized-text="This is a float demo, need to test to see what happens with really long minimized text field, I don't want it to show outside of the box">
			<div>
				<h2>Float Header</h2>
				<p>Some paragraph</p>
				<p>You can put html inside a slot element. This should be a div but can be anything.</p>
			</div>
		</float-y>
		<script>
//			let counter = 1;
//			const inte = setInterval(() => {
//				const ce = new CustomEvent('log-message', {
//					detail: {
//						message: `This is message number ${counter}. What happens when message is too wide to fit into log screen? I want a horizontal scroll as well in that case or the option to wrap or do ellipsis, possibly with tooltips or something for entire message.`
//					}
//				});
//				counter += 1;
//				document.body.dispatchEvent(ce);
//				if (counter > 30) {
//					clearInterval(inte);
//				}
//			}, 500);
		</script>
	</body>
</html>
